* {
  // border: 1px solid red;
}

html,
body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li a {
  text-decoration: underline;
  color: #0288d1;
}

#user-details-container {
  margin-top: 20px;
  line-height: 25px;
}

#loading,
#sign-in-container {
  display: block;
}

#account-details,
#signed-in-container,
#user-details-container {
  display: none;
}

button {
  background-color: rgba(158, 158, 158, .2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  border: none;
  border-radius: 2px;
  height: 36px;
  margin: 5px;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  line-height: 36px;
}

button:hover,
button:active {
  background-color: rgba(158, 158, 158, .4);
  cursor: pointer;
}

h1 {
  color: white;
  width: 88%;
  margin: 15px auto;
}

h2 {
  color: #187D9E;
  margin-top: 100px;
  text-align: center;
}

header {
  background-color: #187D9E;
  position: absolute;
  top: 0;
  width: 100%;
  height: 75px;
}

input {
  display: inline;
  width: auto;
  min-width: 50px;
  height: 30px;
  margin: 2px;
  padding: 0 3px;
}

textarea {
  display: inline;
  width: auto;
  min-width: 50px;
  margin: 2px;
  padding: 0 3px;
}

form input,
form textarea {
  float: left;
  width: 70%;
}

form label {
  display: block;
  min-width: 50px;
  width: 25%;
  float: left;
  text-align: right;
}

form div {
  clear: both;
}

#sign-in-container,
#signed-in-container,
#user-details-container {
  background-color: #fafafa;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
  width: 80%;
  margin: 20px auto;
  padding: 4%;
}

#sign-in-container,
#signed-in-container {
  text-align: center;
}

#sign-in-container p,
#signed-in-container p {
  text-align: left;
}

#current-user {
  font-weight: bold;
}

.user-buttons {
  text-align: right;
}

#email,
#password {
  width: 45%;
}
